body
{
    background-color: black;
    color: white;
                      
                     
}

h1 {
    font-size: 20px;

}

p {
    font-size: 12px;
    color: lightgray;
    background-color: rgb(40, 39, 38);
    border: 2px solid white;
    border-radius: 12px;
    padding: 5px;
}

div {
    border: 2px dotted;
    border-width: 2px;
    width: 100px;
    height: 100px
    
}

ol.a {
    list-style-type: upper-alpha;
}

ul.b {
    list-style-type: square;
}

a {
    margin-left: 90%;
    margin-top: 20%;
}

.sisennetty {
    text-align: center;
}

.reuna {
    border: solid 2px;
}

.kettu {
    width: 5%;
    height: 5%;
}

.container {
    color: red;
    width: 80%;
    height: 80%;
    border: dashed 2px;
    border-color: bisque;
}
